*{
    /* background-image: url('back.png');
    width: 100%; */
    align-items: center;
    align-content: center;
    font-size: 40PX;
}
#q1{
    width: 50%;
}
div{
    background-color: #666;
    border: 4px solid black;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    
}
h1{
    background-color: darkgrey;
    color: green;

}